<div class="app app-header-fixed">
<div class="container w-xxl w-auto-xs">
  <div class="navbar-brand block m-t">LOGIN</div>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">    
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
           <input type="text" placeholder="User Name" class="form-control no-border" ng-model="userName" required>
        </div><br>
        <div class="list-group-item">
          <input type="text" placeholder="Previous Password" class="form-control no-border" ng-model="previousPassword" required>
        </div> <br>
        <div class="list-group-item">
         <input type="text" placeholder="New Password" class="form-control no-border" ng-model="newPassword" required>
        </div><br>
        <div class="list-group-item">
         <input type="text" placeholder="New Password" class="form-control no-border" ng-model="newPassword1" required>
        </div><br>
      <div class="text-center m-t m-b"><button type="submit" ng-click="changePasswordClick()">Submit</button><button type="submit" ng-click="cancelClick()">Cancel</button></div> 
      <div class="line line-dashed"></div>
    </form>
  </div>
</div> 
</div>
</div>





















