<div class="app app-header-fixed">
  <div class="container w-xxl w-auto-xs">
    <div class="navbar-brand block m-t">OTP Verification</div><br><br>
    <div class="m-b-lg">
      <form name="form" class="form-validation">
        <div class="text-danger wrapper text-center" ng-show="authError">
        </div>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="text" placeholder="OTP" class="form-control no-border" ng-model="otp" required>
          </div><br>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="verifyOTP()" ng-disabled='form.$invalid'>Verify</button>
        <div class="text-center m-t m-b"><a href="#/forgotPassword">Back to Forgot Password</a></div>
        <div class="line line-dashed"></div>
      </form>
    </div>
  </div>
  <div layout="row" class="content-loader row" layout-sm="column" ng-hide="CircularLoader" layout-align="space-around">
    <div class="content-loader-inner-wrapper">
      <md-progress-circular md-mode="indeterminate" ng-disabled="CircularLoader"></md-progress-circular>
    </div>
  </div>
</div>