<div class="app app-header-fixed">
  <div class="container w-xxl w-auto-xs">
    <div class="navbar-brand block m-t">Reset Password</div><br><br>
    <div class="m-b-lg">
      <form name="form" class="form-validation">
        <div class="text-danger wrapper text-center" ng-show="authError">
        </div>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="password" placeholder="New Password" class="form-control no-border" name="newPassword" ng-model="newPassword"
              ng-minlength="8" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required>
          </div>
          <span style="color:red" ng-show="form.newPassword.$dirty">
          <span ng-show = "form.newPassword.$error.required">Password is required</span>
          <span ng-show="form.newPassword.$error.minlength">Password must be of length 8!</span><br>
          <span ng-show="form.newPassword.$error.pattern">Password should be alphanumeric with a special character!</span>
          </span><br>
          <div class="list-group-item">
            <input type="password" placeholder="Confirm Password" class="form-control no-border" name="confirmPassword" ng-model="confirmPassword"
              pw-check='password' required>
          </div>
          <span style="color:red" ng-show="form.confirmPassword.$dirty"> 
         <span ng-show="newPassword != confirmPassword">Mismatch</span>
          </span><br>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="resetPassword()" ng-disabled='form.$invalid'>submit</button>
        <div class="text-center m-t m-b"><a href="#/otpVerification">Back to OTP verification</a></div>
        <div class="line line-dashed"></div>
      </form>
    </div>
  </div>
  <div layout="row" class="content-loader row" layout-sm="column" ng-hide="CircularLoader" layout-align="space-around">
    <div class="content-loader-inner-wrapper">
      <md-progress-circular md-mode="indeterminate" ng-disabled="CircularLoader"></md-progress-circular>
    </div>
  </div>
</div>