<div class="container w-xxl w-auto-xs">
  <div class="navbar-brand block m-t"></div>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group">
          <a href="" class="list-group-item active">
          <h4 class="list-group-item-heading">Todays Appointment</h4>
          </a>
          <div ng-show="!todayAppointmentList.length" class="alert alert-info ng-binding">Sorry, No Todays Appointment to Show.</div>
          <a href="" class="list-group-item" ng-repeat="item in todayAppointmentList | orderBy:'-appointmentTime'">
          <p><b>Service Provider Name:</b> {{item.spDetails.firstName+ ' ' +item.spDetails.lastName}}</p>
          <p><b>Address:</b> {{item.spDetails.addressLane1+ ' ' +item.spDetails.addressLane2}}</p>
          <p><b>Appointment Date:</b> {{item.appointmentDate | date}}</p>
          <p><b>Appointment Time:</b> {{item.appointmentTime}}</p>
          <p><b>Status:</b> {{item.status}}</p>
					<p><b>Confirmation Number:</b> {{item.appRefNo}}</p>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>